*{
    margin:0;
    box-sizing: border-box;
}

body{
    background-color: rgb(243, 243, 233);
}

/*header */

.header{
    position: sticky;
    background-color: rgb(31, 31, 53);
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 2;
}
.header a{
    text-decoration: none;
    color: #fff;
}
.navigation{
    display: flex;
    gap:15px;
}

.cart_items_total{
    padding:5px;
    background-color: #fff;
    color: black;
    border-radius: 3px;
}

/*add product*/

.add_product{
    background-color: #fff;
    width: 50%;
    padding: 20px;
    margin: 50px auto;

}

.add_product form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.input{
    padding: 10px;
    height: 40px;
    border:none;
    background-color: aliceblue;
    outline: none;
}

.btn{
    height: 40px;
    background-color: rgb(40, 156, 202);
    color:#fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover{
    opacity: .8;
}

/*all products*/

.products{
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 20px auto;
}

@media only screen and (max-width:550px) {
    .products{
    width: 90%;
    }
}

.products>h1{
    font-size: 36px;
}

.box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.form_block{
    display: flex;
    background-color: #fff;
    width: 350px;
    height: 500px;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px grey;
}


.form_block > h3 {
    font-size: 22px;    
}

.product_block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product_block > .input_qty{
    border:1px solid rgb(196, 189, 192);
    border-radius: 5px;
    padding: 5px;
    min-height: 20px;
}

.price {
    color:rgb(248, 105, 2);
    font-size: 20px;
    font-weight: 700;
}

.image{
    width: 100%;
    height: 300px;
}

.buy_now{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    background-color: rgb(248, 105, 2);
    font-size: 18px;
}

/*cart*/

.edit{
    min-width: 70px;
    background-color: rgb(248, 105, 2);
}

.delete_btn{
    background-color: rgb(233, 17, 17);
    width: 100%;
}

.additional_info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: #fff;
    width: 60%;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px grey;
}

@media only screen and (max-width:550px) {
    .additional_info{
    width: 100%;
    }
}


.empty{
    font-size: 36px;
    color:red;
}

/*checkout*/

.checkout{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    gap: 30px;
    padding: 20px;
}

.row{
    display: flex;
    gap:30px;
    flex-wrap: wrap;
}

@media only screen and (max-width:1009px) {
    .row{
    flex-direction: column-reverse;
    justify-content:center;
    align-items: center;
    }
}

.row > .form {
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    gap: 20px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgb(196, 189, 192);
}

@media only screen and (max-width:550px) {
    .row > .form{
    width: 80%;
    }
}

.form_info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.summary{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    gap: 20px;
    height: 100%;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgb(196, 189, 192);
    padding: 20px;
}

@media only screen and (max-width:550px) {
    .summary{
    width: 80%;
    }
}

.summary_item{
    display: flex;
    width: 400px;
    gap: 20px;
}

.summary_item_info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.image_checkout{
    width: 100px;
    height: 100px;
}

.total_sum{
    font-size: 24px;
    color:rgb(248, 105, 2);
    font-weight: bold;
}
